.autocomplete-container {
  position: relative;
  display: inline-block;
  width: 600px;
  margin-bottom: 30px;
}

.autocomplete-input {
  border: 3px solid #0571F2;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border-radius: 15px;
}

.autocomplete-input::placeholder {
  color: #B5B5B5;
}

.suggestion-container {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow: auto;
  border-radius: 10px;
}

.suggestion-container::-webkit-scrollbar {
  width: 6px;
}

.suggestion-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.suggestion-container::-webkit-scrollbar-thumb {
  background: #0571F2; 
}

.suggestion-container::-webkit-scrollbar-thumb:hover {
  background: #0452B2; 
}

.suggestion {
  padding: 15px;
  cursor: pointer;
  background-color: #fff;
}

.title {
  transition: all 0.5s;
}

.item-container {
  width: 90%;
  margin-bottom: 40px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  color: #000;
  margin: 0 15px;
  border-radius: 15px;
}

.button-carousel {
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.calculation-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.calculation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  color: #000;
  margin: 0 15px;
}